@function get-vh($object) {
  $vh: (1080 * 0.01) * 1px;
  @return ($object / $vh) * 1vh;
}

* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  pointer-events: none;
  display: block;
}

body, html {
  height: 100%;
}

body {
  overflow: hidden;
  position: relative;
  color: #ffffff;
}

ul {
  li {
    list-style: none;
  }
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}

span{
  display: inline-block;
}

.wrapper{
  height: 100vh;
}

.hidden{
  opacity: 0;
  visibility: hidden;
}

.disabled{
  pointer-events: none;
}

.clip{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.scroll {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 1px;
  }

  &::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    width: 1px;
    background: #ffffff;
    border-radius: 5px;
  }
}

.scroll-hide {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    width: 0;
    background-color: transparent;
  }
}

.scroll-hide {
  overflow: auto;

  &::-webkit-scrollbar-button {
    background-repeat: no-repeat;
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &::-webkit-resizer {
    width: 0;
    height: 0;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}

.gradient-color{
  font-family: 'Circle Bold', sans-serif;
  color: transparent;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(92.19deg, #FF7272 0.97%, #EE3D48 99.1%);
}

.gradient-button {
  font-family: 'Circle Bold', sans-serif;
  position: relative;
  background: linear-gradient(83.9deg, #FF7272 7.97%, #EE3D48 79.26%);
  border-radius: get-vh(35px);

  &:hover {
    &:before {
      opacity: 1;
    }
  }

  &:before {
    opacity: 0;
    z-index: 1;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    transition: opacity .3s ease;
    border-radius: get-vh(35px);
    background: linear-gradient(83.9deg, #EE3D48 7.97%, #FF7272 79.26%);
  }

  span {
    position: relative;
    z-index: 2;
  }
}

.rangeslider {
  background: rgba(255, 255, 255, 0.15);
  height: 8px;
  border-radius: 7px;
  position: relative;

  &__fill {
    background: rgba(255, 255, 255, 0.79);
    border-radius: 30px;
    position: absolute;
    height: 4px;
    margin-left: 2px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__handle {
    background: linear-gradient(231.82deg, #FF7272 24.62%, #EE3D48 78.76%);
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    top: -6px;
  }
}

.vehicle-rotator{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}