&.bank {
  background: linear-gradient(180deg, #00A56A 0%, #00744A 100%);
  font-family: $sf-regular;

  .icon{
    padding: 50px 0 28px;
    filter: drop-shadow(1px 1px 40px rgba(0, 125, 80, 0.5));
    text-align: center;

    svg.bank-svg {
      width: 77px;
      height: 82px;
    }
  }

  > span, p {
    padding: 0 20px;
  }

  > span {
    font-size: 12px;
    line-height: 12px;
    color: rgba(255,255,255, .7);
  }

  > p {
    font-family: $sf-semi-bold;
    font-size: 25px;
    line-height: 25px;
    position: relative;

    &:after {
      position: absolute;
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='31' height='19' viewBox='0 0 31 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0656 16.5755H10.9473V1.98535H19.0656V16.5755Z' fill='%23FF5F00'/%3E%3Cpath d='M11.4682 9.27862C11.4682 6.31895 12.854 3.68256 15.0119 1.98356C13.4339 0.741169 11.4423 -0.00037072 9.27781 -0.00037072C4.15369 -0.00037072 0 4.15391 0 9.27862C0 14.4033 4.15369 18.5576 9.27781 18.5576C11.4423 18.5576 13.4339 17.8161 15.0119 16.5737C12.854 14.8747 11.4682 12.2383 11.4682 9.27862Z' fill='%23EB001B'/%3E%3Cpath d='M30.0164 9.27862C30.0164 14.4033 25.8627 18.5576 20.7386 18.5576C18.5742 18.5576 16.5826 17.8161 15.0039 16.5737C17.1625 14.8747 18.5482 12.2383 18.5482 9.27862C18.5482 6.31895 17.1625 3.68256 15.0039 1.98356C16.5826 0.741169 18.5742 -0.00037072 20.7386 -0.00037072C25.8627 -0.00037072 30.0164 4.15391 30.0164 9.27862Z' fill='%23F79E1B'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-size: contain;
      right: 20px;
      width: 31px;
      height: 19px;
      line-height: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  > a {
    display: block;
    font-family: $sf-bold;
    font-size: 16px;
    line-height: 16px;
    padding: 20px 20px 40px;
    position: relative;
    transition: all .2s ease;

    + a {
      margin-top: -30px;
    }

    &:after {
      position: absolute;
      top: 35px;
      content: '';
      width: 22px;
      height: 3px;
      background-color: #ffffff;
      right: 20px;
    }

    &:hover {
      margin-top: -40px;
      padding-bottom: 50px;
      transition: all .2s ease;
    }

    &:first-of-type {
      margin-top: 20px;

      &:hover {
        margin-top: 10px;
        padding-bottom: 50px;
      }
    }

    &:nth-child(2n) {
      background: #00B373;
      box-shadow: -1px -1px 59px 4px rgba(0, 135, 87, 0.54);
      border-radius: 36px 36px 0 0;
    }

    &:nth-child(2n-1) {
      background: #00935E;
      box-shadow: -1px -1px 59px 4px rgba(0, 135, 87, 0.54);
      border-radius: 36px 36px 0 0;
    }

    &:last-of-type {
      border-radius: 36px 36px 35px 35px;
      padding-bottom: 30px;

      &:hover {
        margin-top: -40px;
        padding-bottom: 50px;
      }
    }
  }

  .pay-block {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 100%;
    width: 100%;
    height: 70%;
    padding: 18px 10px;
    background: linear-gradient(180deg, #00B373 0%, #01A66B 100%);
    border-radius: 36px 36px 0 0;
    transition: top .2s ease;

    &.show{
      top: 228px;
    }

    &-cancel {
      font-family: $sf-medium;
      font-size: 13px;
      line-height: 15px;
      text-decoration-line: underline;

      &:hover {
        transition: opacity .1s ease;
        opacity: .5;
      }

      &:after {
        position: absolute;
        content: '';
        background: #fff;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -5px;
      }
    }

    &-type {
      padding: 38px 0 15px;
      font-family: $sf-bold;
      font-size: 16px;
      line-height: 16px;
    }

    &-amount {
      background: #01A167;
      border-radius: 100px;
      outline: none;
      border: none;
      line-height: 42px;
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #FFFFFF;
    }

    &-fee {
      padding: 5px 0 15px;
      font-family: $sf-regular;
      font-size: 13px;
      line-height: 14px;
    }

    &-button {
      text-align: center;
      font-family: $sf-semi-bold;
      width: 100%;
      font-size: 14px;
      line-height: 43px;
      color: #00B373;
      background: #FFFFFF;
      border-radius: 38px;
      border: 1px solid #FFFFFF;
      transition: all .1s ease;
      outline: none;

      &:hover {
        border: 1px solid #FFFFFF;
        border-radius: 38px;
        box-sizing: border-box;
        background: none;
        color: #fff;
        transition: all .1s ease;
      }
    }
  }


}

&.pay-transition {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #00A56A 0%, #00744A 100%);

  .icon{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    svg{
      width: 38px;
      height: 52px;
    }
  }

  .transition-img {
    display: block;
    margin: 60px auto 5px;
    width: 53px;
    height: 52px;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.9963 9.64797C24.5707 9.64797 23.4805 8.55777 23.4805 7.13213V2.51975C23.4805 1.09411 24.5707 0.00390625 25.9963 0.00390625C27.422 0.00390625 28.5122 1.09411 28.5122 2.51975V7.13213C28.5122 8.47391 27.422 9.64797 25.9963 9.64797Z' fill='white' fill-opacity='0.8'/%3E%3Cpath d='M25.9963 51.9956C24.5707 51.9956 23.4805 50.9054 23.4805 49.4798V44.8674C23.4805 43.4418 24.5707 42.3516 25.9963 42.3516C27.422 42.3516 28.5122 43.4418 28.5122 44.8674V49.4798C28.5122 50.9054 27.422 51.9956 25.9963 51.9956Z' fill='white' fill-opacity='0.25'/%3E%3Cpath d='M16.5207 12.164C15.6821 12.164 14.8435 11.7447 14.3403 10.906L12.076 6.96456C11.4051 5.7905 11.8245 4.19713 12.9985 3.52624C14.1726 2.85534 15.7659 3.27465 16.4368 4.44871L18.7011 8.3902C19.372 9.56426 18.9527 11.1576 17.7786 11.8285C17.4432 11.9962 16.94 12.164 16.5207 12.164Z' fill='white' fill-opacity='0.75'/%3E%3Cpath d='M37.7375 48.8114C36.8989 48.8114 36.0603 48.3921 35.5571 47.5535L33.2928 43.612C32.6219 42.438 33.0413 40.8446 34.2153 40.1737C35.3894 39.5028 36.9827 39.9221 37.6536 41.0962L39.9179 45.0377C40.5888 46.2117 40.1695 47.8051 38.9954 48.476C38.5761 48.7276 38.1568 48.8114 37.7375 48.8114Z' fill='white' fill-opacity='0.15'/%3E%3Cpath d='M9.64324 19.0405C9.22393 19.0405 8.80462 18.9566 8.38532 18.705L4.44383 16.4407C3.26977 15.7699 2.85046 14.1765 3.52135 13.0024C4.19225 11.8284 5.78561 11.4091 6.95967 12.0799L10.9012 14.3442C12.0752 15.0151 12.4945 16.6085 11.8236 17.7825C11.3205 18.6211 10.4819 19.0405 9.64324 19.0405Z' fill='white' fill-opacity='0.65'/%3E%3Cpath d='M46.3755 40.2563C45.9562 40.2563 45.5369 40.1724 45.1176 39.9208L41.0923 37.6566C39.9182 36.9857 39.4989 35.3923 40.1698 34.2182C40.8407 33.0442 42.434 32.6249 43.6081 33.2958L47.5496 35.56C48.7237 36.2309 49.143 37.8243 48.4721 38.9984C48.0528 39.837 47.2141 40.2563 46.3755 40.2563Z' fill='white' fill-opacity='0.05'/%3E%3Cpath d='M7.12822 28.5161H2.51584C1.0902 28.5161 0 27.4259 0 26.0002C0 24.5746 1.0902 23.4844 2.51584 23.4844H7.12822C8.55387 23.4844 9.64407 24.5746 9.64407 26.0002C9.64407 27.4259 8.47001 28.5161 7.12822 28.5161Z' fill='white' fill-opacity='0.55'/%3E%3Cpath d='M49.4798 28.5161H44.8674C43.4418 28.5161 42.3516 27.4259 42.3516 26.0002C42.3516 24.5746 43.4418 23.4844 44.8674 23.4844H49.4798C50.9054 23.4844 51.9956 24.5746 51.9956 26.0002C51.9956 27.4259 50.9054 28.5161 49.4798 28.5161Z' fill='white'/%3E%3Cpath d='M5.61777 40.2563C4.77915 40.2563 3.94054 39.837 3.43737 38.9984C2.76648 37.8243 3.18578 36.2309 4.35985 35.56L8.30133 33.2958C9.47539 32.6249 11.0688 33.0442 11.7397 34.2182C12.4105 35.3923 11.9912 36.9857 10.8172 37.6566L6.87569 39.9208C6.54024 40.1724 6.12094 40.2563 5.61777 40.2563Z' fill='white' fill-opacity='0.45'/%3E%3Cpath d='M42.3502 19.0405C41.5116 19.0405 40.673 18.6211 40.1698 17.7825C39.4989 16.6085 39.9182 15.0151 41.0923 14.3442L45.0338 12.0799C46.2078 11.4091 47.8012 11.8284 48.4721 13.0024C49.143 14.1765 48.7237 15.7699 47.5496 16.4407L43.6081 18.705C43.1888 18.9566 42.7695 19.0405 42.3502 19.0405Z' fill='white' fill-opacity='0.9'/%3E%3Cpath d='M14.2564 48.8114C13.8371 48.8114 13.4178 48.7276 12.9985 48.476C11.8245 47.8051 11.4051 46.2117 12.076 45.0377L14.3403 41.0962C15.0112 39.9221 16.6046 39.5028 17.7786 40.1737C18.9527 40.8446 19.372 42.438 18.7011 43.612L16.4368 47.5535C15.9337 48.3921 15.0951 48.8114 14.2564 48.8114Z' fill='white' fill-opacity='0.35'/%3E%3Cpath d='M35.4732 12.164C35.0539 12.164 34.6346 12.0801 34.2153 11.8285C33.0413 11.1576 32.6219 9.56426 33.2928 8.3902L35.5571 4.44871C36.228 3.27465 37.8214 2.85534 38.9954 3.52624C40.1695 4.19713 40.5888 5.7905 39.9179 6.96456L37.6536 10.906C37.1505 11.6608 36.3119 12.164 35.4732 12.164Z' fill='white' fill-opacity='0.85'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &.accept {
      background-image: url("data:image/svg+xml,%3Csvg width='53' height='52' viewBox='0 0 53 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.0006 9.64555C24.5747 9.64555 23.4844 8.55518 23.4844 7.12932V2.51623C23.4844 1.09037 24.5747 0 26.0006 0C27.4265 0 28.5168 1.09037 28.5168 2.51623V7.12932C28.5168 8.47131 27.4265 9.64555 26.0006 9.64555Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M26.0006 52C24.5747 52 23.4844 50.9097 23.4844 49.4838V44.8707C23.4844 43.4449 24.5747 42.3545 26.0006 42.3545C27.4265 42.3545 28.5168 43.4449 28.5168 44.8707V49.4838C28.5168 50.9097 27.4265 52 26.0006 52Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M16.5234 12.1614C15.6846 12.1614 14.8459 11.7421 14.3427 10.9033L12.078 6.96123C11.407 5.78699 11.8264 4.19337 13.0007 3.52238C14.1749 2.85138 15.7685 3.27076 16.4395 4.445L18.7041 8.38709C19.3751 9.56133 18.9557 11.1549 17.7815 11.8259C17.446 11.9937 16.9428 12.1614 16.5234 12.1614Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M37.7421 48.8157C36.9034 48.8157 36.0647 48.3964 35.5614 47.5576L33.2968 43.6155C32.6258 42.4413 33.0452 40.8477 34.2194 40.1767C35.3937 39.5057 36.9873 39.9251 37.6583 41.0993L39.9229 45.0414C40.5939 46.2156 40.1745 47.8092 39.0003 48.4802C38.5809 48.7319 38.1615 48.8157 37.7421 48.8157Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M9.64618 19.0396C9.22681 19.0396 8.80744 18.9557 8.38807 18.7041L4.44597 16.4395C3.27173 15.7685 2.85236 14.1749 3.52336 13.0007C4.19435 11.8264 5.78796 11.407 6.9622 12.078L10.9043 14.3427C12.0785 15.0136 12.4979 16.6073 11.8269 17.7815C11.3237 18.6202 10.4849 19.0396 9.64618 19.0396Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M46.3824 40.2584C45.963 40.2584 45.5437 40.1745 45.1243 39.9229L41.0983 37.6583C39.9241 36.9873 39.5047 35.3937 40.1757 34.2194C40.8467 33.0452 42.4403 32.6258 43.6145 33.2968L47.5566 35.5614C48.7309 36.2324 49.1502 37.826 48.4793 39.0003C48.0599 39.839 47.2211 40.2584 46.3824 40.2584Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M7.12932 28.5168H2.51623C1.09037 28.5168 0 27.4265 0 26.0006C0 24.5747 1.09037 23.4844 2.51623 23.4844H7.12932C8.55518 23.4844 9.64555 24.5747 9.64555 26.0006C9.64555 27.4265 8.47131 28.5168 7.12932 28.5168Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M49.4867 28.5168H44.8737C43.4478 28.5168 42.3574 27.4265 42.3574 26.0006C42.3574 24.5747 43.4478 23.4844 44.8737 23.4844H49.4867C50.9126 23.4844 52.003 24.5747 52.003 26.0006C52.003 27.4265 50.9126 28.5168 49.4867 28.5168Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M5.61815 40.2584C4.77941 40.2584 3.94066 39.839 3.43742 39.0003C2.76642 37.826 3.1858 36.2324 4.36004 35.5614L8.30213 33.2968C9.47637 32.6258 11.07 33.0452 11.741 34.2194C12.412 35.3937 11.9926 36.9873 10.8184 37.6583L6.87627 39.9229C6.54077 40.1745 6.1214 40.2584 5.61815 40.2584Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M14.2588 48.8157C13.8394 48.8157 13.42 48.7319 13.0007 48.4802C11.8264 47.8092 11.407 46.2156 12.078 45.0414L14.3427 41.0993C15.0136 39.9251 16.6073 39.5057 17.7815 40.1767C18.9557 40.8477 19.3751 42.4413 18.7041 43.6155L16.4395 47.5576C15.9363 48.3964 15.0975 48.8157 14.2588 48.8157Z' fill='white' fill-opacity='0.2'/%3E%3Cpath d='M35.4775 12.1614C35.0582 12.1614 34.6388 12.0776 34.2194 11.8259C33.0452 11.1549 32.6258 9.56133 33.2968 8.38709L35.5614 4.445C36.2324 3.27076 37.826 2.85138 39.0003 3.52238C40.1745 4.19337 40.5939 5.78699 39.9229 6.96123L37.6583 10.9033C37.155 11.6582 36.3163 12.1614 35.4775 12.1614Z' fill='white' fill-opacity='0.2'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M51.6306 13.0921C51.5735 13.3193 51.3643 13.3185 51.2181 13.3783C44.0877 16.1814 38.141 20.6972 33.1272 26.5763C30.7594 29.353 28.5519 32.2591 26.4353 35.238C26.3888 35.3036 26.3467 35.3722 26.2982 35.4351C26.1795 35.591 26.0805 35.8126 25.8615 35.7971C25.6424 35.7816 25.5924 35.533 25.5253 35.3515C24.7783 33.3493 23.8829 31.41 22.8469 29.5504C21.3246 26.7539 19.5395 24.1185 17.517 21.6815C17.273 21.3891 17.2455 21.2031 17.5825 20.9605C18.7922 20.1017 19.9932 19.2304 21.1857 18.3467C21.4949 18.1175 21.66 18.256 21.877 18.484C23.7963 20.5073 25.432 22.7957 26.7377 25.2841C26.9835 25.7604 27.1256 25.7317 27.4678 25.3694C30.1872 22.4907 32.8992 19.6049 36.1032 17.2656C39.6622 14.6641 43.5288 12.9581 47.9482 12.7904C49.0004 12.7515 50.0533 12.7927 51.0984 12.9138C51.2812 12.9354 51.4951 12.9004 51.6306 13.0921Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32.9329' height='25.9997' fill='white' transform='translate(18.9961 8.66699) rotate(7.50928)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  span {
    font-family: $sf-semi-bold;
    font-size: 13px;
    line-height: 24px;
    padding-bottom: 18px;
  }

  a {
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    font-family: $sf-semi-bold;
    font-size: 13px;
    line-height: 45px;
    padding: 0 35px;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 38px;

    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }
  }
}
