@font-face {
  font-family: 'SF Pro Thin';
  font-weight: normal;
  src: url("../../resources/fonts/SFProDisplay-Thin.woff") format("woff");
}
@font-face {
  font-family: 'SF Pro Light';
  font-weight: normal;
  src: url("../../resources/fonts/SFProDisplay-Light.woff") format("woff");
}
@font-face {
  font-family: 'SF Pro Medium';
  font-weight: normal;
  src: url("../../resources/fonts/SFProDisplay-Medium.woff") format("woff");
}
@font-face {
  font-family: 'SF Pro Bold';
  font-weight: normal;
  src: url("../../resources/fonts/SFProDisplay-Bold.woff") format("woff");
}
@font-face {
  font-family: 'SF Pro SemiBold';
  font-weight: normal;
  src: url("../../resources/fonts/SFProDisplay-Semibold.woff") format("woff");
}
@font-face {
  font-family: 'SF Pro Regular';
  font-weight: normal;
  src: url("../../resources/fonts/SFProDisplay-Regular.woff") format("woff");
}